
body{
    content: "";
    background-image:url('images/chicchi-di-caffè-min-scura.jpg') ; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  
  header {
    text-align: center;
    color: #e93578;
    font-family: 'ABeeZee', sans-serif;
    padding: 10;
    margin-top: 10px;
  }

  header h1 {
    font-size: 4.5rem;
    font-weight: 600;
} 

  .nav {
      background-color: #e93578;
  }
  
  .nav-item a {
      color: whitesmoke;
      font-size: x-large;
      font-family: 'ABeeZee', sans-serif;
  }

  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }

  #welcome {
      color: gold;
      text-align: center;
      font-family: 'ABeeZee', sans-serif;
      font-size: 3.5rem;
      font-weight: 500;
      font-style: italic;
  }

  #div1 {
      margin-left: 100px;
      margin-right: 100px;
      background-color: #e93578;
      color: whitesmoke;
      padding: 50px;
      font-family: 'ABeeZee', sans-serif;
      text-align: center;
  }

  /*secondary pages*/

  .title {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    font-family: 'ABeeZee', sans-serif;
    margin-top: 10px;
    font-size: 4.0rem;
    font-weight: 600;
  }

  .title h1{
    color: gold
  }

  .title p {
    margin-bottom: 0%;
  }

  
   #gallery img {
   min-width: 100px;
   min-height: 100px;
   max-width: 200px;
   max-height: 200px;
   }

  .img-thumbnail{
    background-color: #e93578;
  }

  .col-6 {
    float: left;
  }

  #map {
    padding: 20px;
  }
  